@use "/src/styles/colors" as color;
@import "/src//styles/mixin";

.header_container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 10%;
  z-index: 100;
  background: linear-gradient(#29251c, #2c2306);
}

.children {
  width: 100%;
  padding-top: 8rem;
  height: calc(100vh - 8rem);
}

@media screen and (min-width: 768px) {
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
      display: flex;
    }
  }
}
