@use "/src/styles/colors" as color;
@import "/src//styles/mixin";

.header_container {
  width: 100%;
  @include center-both;
  padding: 2rem 10%;
}

.children {
  width: 100%;
  height: calc(100vh - 8rem);
}

@media screen and (min-width: 768px) {
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
      display: flex;
    }
  }
}
