@use "/src/styles/colors" as color;
@import "/src//styles/mixin";

.navigationBar_container {
  width: 365px;
  .other {
    width: 6rem;
    height: 2rem;
    border-radius: 30px;
    position: fixed;
    top: 0.5rem;
    left: 2rem;
    background-color: color.$gray-5;
    z-index: 10;
    @include center-both;
  }

  .shoppingCar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: fixed;
    bottom: 3rem;
    left: 2rem;
    object-fit: contain;
    background-color: color.$gray-5;
    z-index: 10;
    @include center-both;
  }
}

@media screen and (min-width: 375px) {
  .navigationBar_container {
    .other {
      left: unset;
      top: 1.5rem;
      right: 2rem;
    }
    .shoppingCar {
      left: unset;
      right: 2rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .navigationBar_container {
    .shoppingCar {
      all: unset;
    }

    .other {
      all: unset;
      display: flex;
      gap: 0.5rem;
    }
    width: 100%;
    display: flex;
    gap: 0.5rem;
  }
}
