@use "/src/styles/colors" as color;
@import "/src/styles/mixin";

.home_container {
  width: 100vw;
  height: 100vh;
  padding: 2rem 10%;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .form {
    width: 100%;
    margin-top: 25%;
  }
}
