@use "/src/styles/colors" as color;
@import "/src/styles/mixin";

.pages {
  width: 100vw;
  height: calc(100vh - 8rem);
  padding: 2rem 10%;
}

.home {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .form {
    width: 100%;
    max-width: 40rem;
    margin: 10rem auto 0;
  }
}

.member {
  .form {
    padding: 2rem;
    width: 100%;
    margin-top: 10%;
  }
}

.memberInfo {
  padding: 2rem;
  width: 100%;
}
