@use "/src/styles/colors" as color;
@import "/src/styles/mixin";

.btn__pill {
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  @include center-both;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: color.$brand-color;
    color: color.$assistant-gray-color;
  }
}

.btn__pill__mealItem {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  @include text-styles(1rem, 500, color.$gray-10);
  background-color: color.$secondary-color;
  cursor: pointer;

  &:hover,
  &:active {
    transform: scale(1.1);
    background-color: color.$brand-color;
    @include text-styles(1rem, 500, color.$secondary-color);
  }
}

.btn__cart {
  padding: 0.5rem 1.5rem;
  border: 1px solid color.$secondary-color;
  border-radius: 4px;
  background-color: color.$secondary-color;
  @include text-styles(1rem, 500, color.$gray-10);
  cursor: pointer;

  &:hover,
  &:active {
    transform: scale(1.2);
    background-color: color.$success-color;
    border-color: color.$success-color;
  }
}

.btn__text {
  background-color: transparent;
  border: none;
  @include text-styles(1rem, 500, color.$gray-10);
  cursor: pointer;

  &:hover,
  &:active {
    transform: scale(1.2);
    color: color.$error-color;
  }
}

.btn__round__small {
  width: 1.5rem;
  height: 1.5rem;
  @include center-both;
  border-radius: 50%;
  border: none;
  background-color: color.$secondary-color;
  @include text-styles(1rem, 700, color.$gray-10);
  cursor: pointer;

  &:hover,
  &:active {
    background-color: color.$success-color;
  }
}

.btn__icon {
  @include center-both;
  @include text-styles(1.25rem, 700, color.$brand-color);
  background-color: unset;
  border: none;
  cursor: pointer;

  &:hover,
  &:active {
    transform: scale(1.1);
    color: color.$secondary-color;
  }
}

.btn__link {
  margin-top: 2rem;
  @include center-both;
  @include text-styles(1.25rem, 700, color.$assistant-gray-color);
  background-color: unset;
  border: none;
  cursor: pointer;

  &:hover,
  &:active {
    transform: scale(1.1);
    color: color.$error-color;
  }
}
