@use "/src/styles/colors" as color;
@import "/src/styles/mixin";

.btn__pill {
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  @include center-both;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  &:hover {
    background-color: color.$brand-color;
    color: color.$assistant-gray-color;
  }
}

.btn__link {
  margin-top: 0.5rem;
  @include center-both;
  @include text-styles(1.5rem, 400, color.$brand-color);
  background-color: unset;
  border: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    color: color.$secondary-color;
  }
}
